.main{
   display:flex;
}
.details-page{
   width:40%;
   margin-left: 22px;
   margin-top: 50px;

}
.travelPlace-page{
   display:inline;
   width:60%;
   padding-top: 40px;
   height: 411px;
   overflow: hidden;
  

}

.travelPlace-page img{
   max-width: 220px;
   height: 354px;
   background-image: linear-gradient(to bottom,gray,lightgray);
   border-radius: 20px;
   margin-left: 25px;
   cursor: pointer;
}

.travelPlace-page span{
   position: absolute;
   transform: translate(-197px, 270px);
}
.travelPlace-page h3{
   display: block;
   cursor: pointer;
   font-family: Bebas Neue;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 24px;
   color: #FFFFFF;
}
.travelPlace-page img:hover{
   box-shadow: 0px 0px 0px 4px orange;
}

/* }

.right-arrow{
   
   position: absolute;
   top: 94%;
   left: 39%;
   width: 22px !important;
   height: 21px !important;
   background-color: white;
   border-radius: 50%;
   cursor: pointer;
}

.left-arrow{
   position: absolute;
   top: 94%;
   left: 42%;
   width: 22px !important;
   height: 21px !important;
   background-color: white;
   border-radius: 50%;
   cursor: pointer;

} */

/* https://github.com/manik-roy/travel-guru/blob/master/src/App.js */
